body {
  margin: 0;
  padding: 0;
  background-color: #e1dbdb;
}

.relogio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}

.display {
 background-color: rgba(0, 0, 0, 0.867);
 width: 300px;
 height: 200px;
 text-align: center;
 line-height: 200px;
 border-radius: 10px;
color: white;
font-size: 7rem;
font-family: 'Qahiri', sans-serif;
border: 10px solid  #deb88770;
}

footer {
  font-size: 2rem;
  margin-top: 10px;
  color:#615039;
  font-family: 'Barlow Condensed', sans-serif;
}